{% extends 'base.html.twig' %}

{% block title %}Nos articles{% endblock %}

{% block body %}
    <div class="container">
        <h1>Nos articles !</h1>
        <div class="row">
            {% for article in articles %}
                <div class="col-md-6">
                    <div class="card bg light mb-3">
                        <div class="card-header text-center">
                            <h2><a href="article/{{ article.slug }}">{{ article.titre }}</a></h2>
                            <p>{{ article.description }}</p>
                            <p>Publié le : {{ article.dateCreation|date ('d-m-Y') }} - Auteur : <a href="#">{{ article.auteur.pseudo }}</a></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}
