{% extends 'base.html.twig' %}

{% block title %} {{ article.description }} {% endblock %}
{% block body %}
    <div class="card text-center">
        <div class="col-md-12">
            <h1>{{ article.titre }}</h1>
        </div>
    </div>
    <div class="row my-2 text-center">
        <div class="col-md-12">
            <p><strong>Créé par : </strong><a href="#">{{ article.auteur.pseudo }}</a> - Le {{ article.dateCreation|date ('d-m-Y') }}</p>
            <video src="{{ article.lienVideo }}" width=320  height=240 controls></video>
            <p class="my-5">{{ article.description }}</p>
        </div>
        <div class="col-md-12">
        </div>
    </div>
{% endblock %}